@{
    ViewBag.Title = "Contact";
}

<head>
    <style>
        body {
            background-image: url('/Content/Images/Logo.jpg');
            position: absolute;
            background-size: 800px;
            background-position: top;
            background-repeat: no-repeat;
        }
    </style>
</head>

<br />
<br />
<body>
    
    <div style="padding-left:100px">
        <h2><b>Contact</b></h2>
        +92-300-9453672
        <br />
        +92-321-4757330
    </div>
        <h4><i>We deal in Ladies Casual & Fancy Dresses</i> </h4>
    
    
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>

