@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .btn {
            color: white;
            background-color: black;
            width: 150px;
            height: 35px;
        }

            .btn:hover {
                color: black;
                background-color: white;
                border-color: black;
                width: 150px;
                height: 35px;
            }
        body {
            background-image: url('/Content/Images/Logo.jpg');
            position: center;
            background-size: 800px;
            background-position: top;
            background-repeat: no-repeat;
            background-position-y: center;
        }
        img {
            height: 50%;
            width: 50%;
        }

        .color {
            color: black;
        }

            .color:hover {
                font-weight: bold;
                color: black;
            }
    </style>
</head>





<body>
    <div class="container"><marquee style="background-color:#e6e6e6;font-size:large">We deal in Ladies Casual & Fancy Dresses</marquee></div>
    <p></p>
    <div class="form-group">
        <a href="~/Dashboard/Index" class="btn" style="width:300px;height:35px"><b>Dashboard</b></a>
        
    </div>
    <br /><br />
    <br /><br /><br /><br />
    <div></div>


    <div></div>




    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>